*{
    margin: 0;
    padding: 0;
}
.bluebox{
    margin: 200px;
    top: 200px;
    height: 300px;
    width: 500px;
    padding: 20px;
    background-color: blue;
    border-radius: 15;
    margin-left: 200px;
}
.redcircle{
    height: 200px;
    width: 200px;
    border: 10px;
    margin-top: 150px;
    margin-left: 250px;
    border-radius: 100px;
    background-color: red;

}